<div
  swipeGesture
  swipeTarget="document"
  (swipeLeft)="onSwipeLeft()"
  (swipeRight)="onSwipeRight()">
  <mediminder-date-paginator
    [(date)]="targetDate">
  </mediminder-date-paginator>
  @if (loading()) {
    <mediminder-empty-state
      icon="progress_activity"
      [spin]="true"
      title="Loading...">
    </mediminder-empty-state>
  }
  @else if (events().length > 0) {
    <mediminder-intake-event-list
      [events]="events()"
      (complete)="complete($event)"
      (delete)="delete($event)">
    </mediminder-intake-event-list>
  }
  @else {
    <mediminder-empty-state
      icon="done"
      title="All done, you have no medication to take this day!">
    </mediminder-empty-state>
  }
</div>
