<mediminder-central-card>
  <form [formGroup]="form" (submit)="submit()">
    <h1>Reset your password</h1>
    @if (error != undefined) {
      <mediminder-alert type="error">
        {{error.detail}}
      </mediminder-alert>
    }
    @if (successPasswordReset) {
      <mediminder-alert type="success">
        <p>Password successfully changed.</p>
        <a mat-button routerLink="/user/login">Log in</a>
      </mediminder-alert>
    }
    <mat-form-field appearance="fill">
      <mat-label>New password</mat-label>
      <input
        matInput
        required
        type="password"
        formControlName="password" />
      <mat-hint>Enter the same e-mail you used during registration</mat-hint>
      @if (form.get('password')!.errors?.['required']) {
        <mat-error>
          Please enter a valid password
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Repeat password</mat-label>
      <input
        matInput
        required
        type="password"
        formControlName="repeatPassword" />
      <mat-hint>Enter the same password again</mat-hint>
    </mat-form-field>
    @if (form.errors?.['samePassword']) {
      <mat-error>
        The passwords do not match
      </mat-error>
    }
    <button
      mat-flat-button
      [disabled]="form.invalid"
      color="primary">
      Reset password
    </button>
  </form>
</mediminder-central-card>
