<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<p>Hello!</p>
<p>You're receiving this e-mail because someone recently requested to reset the password of the account linked to this e-mail address.</p>
<p>If this is you, you can reset your password by clicking the following link:</p>
<p><a th:href="${applicationUrl}" th:text="${applicationUrl}"></a></p>
<p>If this wasn't you, you can ignore this e-mail.</p>
<p>Be aware, this link is valid for only 24 hours.</p>
</body>
</html>