<form #form="ngForm" (submit)="confirm.emit(requestWrapper())">
  <div class="grid">
    @if (!disableBasicFields()) {
      <mat-form-field appearance="fill" id="file">
        <mat-label>Document</mat-label>
        <ngx-mat-file-input
          [(ngModel)]="file"
          name="file"
          required
          #fileInput="ngModel"
          accept="application/pdf|image/*|application/vnd.*|application/msword">
        </ngx-mat-file-input>
        <mat-icon matSuffix>attach_file</mat-icon>
        @if (fileInput.hasError('maxContentSize')) {
          <mat-error>File size must be less than 5MB</mat-error>
        }
        @if (fileInput.hasError('required')) {
          <mat-error>File is required</mat-error>
        }
      </mat-form-field>
    }
    @else {
      <mat-form-field appearance="fill" id="file">
        <mat-label>Document</mat-label>
        <input
          matInput
          type="text"
          disabled
          required
          value="{{document()?.filename}}" />
        <mat-icon
          matSuffix>
          attach_file
        </mat-icon>
      </mat-form-field>
    }
    <mat-form-field appearance="fill" id="expiryDate">
      <mat-label>Expiry date</mat-label>
      <input
        matInput
        name="expiryDate"
        [(ngModel)]="expiryDate"
        [matDatepicker]="expiryDatePicker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="expiryDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #expiryDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" id="description">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        name="description"
        rows="3"
        [(ngModel)]="description"
        maxlength="128">
      </textarea>
    </mat-form-field>
  </div>

  <mediminder-action-bar>
    <primary-actions>
      <button
        mat-flat-button
        color="accent"
        [disabled]="form.invalid">
        {{okLabel()}}
      </button>
      <button mat-button type="button" (click)="cancel.emit()">
        Cancel
      </button>
    </primary-actions>
    @if (!hideSecondaryActions()) {
      <secondary-actions>
        <a
          mat-button
          [routerLink]="['/medication', medication().id, 'document', document()!.id, 'duplicate']">
          Duplicate document
        </a>
        <button
          mat-button
          color="warn"
          type="button"
          (click)="delete.emit()">
          <mat-icon>delete</mat-icon>
          Delete document
        </button>
      </secondary-actions>
    }
  </mediminder-action-bar>
</form>
