<form [formGroup]="form" (submit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Current password</mat-label>
    <input
      matInput
      required
      type="password"
      placeholder="********"
      formControlName="oldPassword" />
    <mat-hint>Enter your current password</mat-hint>
    @if (form.get('oldPassword')!.errors?.['required']) {
      <mat-error>
        Please enter your current password
      </mat-error>
    }
  </mat-form-field>
  <ng-container formGroupName="newPassword">
    <mat-form-field appearance="fill">
      <mat-label>New password</mat-label>
      <input
        matInput
        required
        type="password"
        placeholder="********"
        formControlName="password" />
      <mat-hint>Enter your chosen password</mat-hint>
      @if (form.get('newPassword')!.get('password')!.errors?.['required']) {
        <mat-error>
          Please enter your password
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Repeat new password</mat-label>
      <input
        matInput
        required
        type="password"
        placeholder="********"
        formControlName="repeatPassword" />
      <mat-hint>Enter the same password again</mat-hint>
      @if (form.get('newPassword')!.get('repeatPassword')!.errors?.['required']) {
        <mat-error>
          Please enter your password again
        </mat-error>
      }
    </mat-form-field>
    @if (form.get('newPassword')!.errors?.['samePassword']) {
      <mat-error>
        The passwords do not match
      </mat-error>
    }
  </ng-container>
  <div class="actions">
    <button
      mat-flat-button
      [disabled]="form.invalid"
      color="primary">
      {{okLabel}}
    </button>
  </div>
</form>
