<form #form="ngForm" (submit)="confirm.emit(request())">
  <mat-form-field appearance="fill">
    <mat-label>Current password</mat-label>
    <input
      matInput
      required
      type="password"
      placeholder="********"
      [(ngModel)]="oldPassword"
      #oldPasswordInput="ngModel"
      name="oldPassword" />
    <mat-hint>Enter your current password</mat-hint>
    @if (oldPasswordInput.errors?.['required']) {
      <mat-error>
        Please enter your current password
      </mat-error>
    }
  </mat-form-field>
  <ng-container
    ngModelGroup="passwords"
    #passwordsGroup="ngModelGroup"
    samePassword>
    <mat-form-field appearance="fill">
      <mat-label>New password</mat-label>
      <input
        matInput
        required
        type="password"
        placeholder="********"
        name="password"
        [(ngModel)]="password"
        #passwordInput="ngModel" />
      <mat-hint>Enter your chosen password</mat-hint>
      @if (passwordInput.errors?.['required']) {
        <mat-error>
          Please enter your password
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Repeat new password</mat-label>
      <input
        matInput
        required
        type="password"
        placeholder="********"
        name="repeatPassword"
        [(ngModel)]="repeatPassword"
        #repeatPasswordInput="ngModel" />
      <mat-hint>Enter the same password again</mat-hint>
      @if (repeatPasswordInput.errors?.['required']) {
        <mat-error>
          Please enter your password again
        </mat-error>
      }
    </mat-form-field>
    @if (passwordsGroup.errors?.['samePassword']) {
      <mat-error>
        The passwords do not match
      </mat-error>
    }
  </ng-container>
  <div class="actions">
    <button
      mat-flat-button
      [disabled]="form.invalid"
      color="primary">
      {{okLabel()}}
    </button>
  </div>
</form>
