<ng-container>
  @for (group of eventsPerTime(); track group.time) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{group.time}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="list">
          @for (event of group.events; track event.scheduleId) {
            <li>
              <mediminder-medication-type-icon
                (click)="viewDetailPage(event)"
                [medicationType]="event.medication.medicationType"
                [color]="event.medication.color">
              </mediminder-medication-type-icon>
              <div
                (click)="viewDetailPage(event)"
                class="name">
                {{event.medication.name}}
              </div>
              <div
                (click)="viewDetailPage(event)"
                class="description">
                <span>{{event.dose}} {{event.medication.doseType.name}}</span>
                <span>{{event.medication.administrationType.name}}</span>
                @if (event.description != null && event.description.length > 0) {
                  <span>{{event.description}}</span>
                }
              </div>
              <div class="actions">
                @if (event.completedDate != null) {
                  <button mat-icon-button disabled>
                    <mat-icon fontSet="material-symbols-outlined">check</mat-icon>
                  </button>
                }
                @else {
                  <button
                    mat-flat-button
                    (click)="complete.emit(event)">
                    Take
                  </button>
                }
              </div>
            </li>
          }
        </ul>
      </mat-card-content>
    </mat-card>
  }
</ng-container>
