<mediminder-list-item (click)="navigateToScheduleEdit()">
  <list-item-icon>
    <mat-icon
      class="icon"
      fontSet="material-symbols-outlined">
      schedule
    </mat-icon>
  </list-item-icon>
  <list-item-title>
    {{schedule().dose | number}} {{schedule().medication.doseType.name}} at {{schedule().time | dfnsParsePure: 'HH:mm:ss':0 | dfnsFormat: 'HH:mm'}}
  </list-item-title>
  <list-item-description>
    <span>Every {{schedule().interval | interval}}</span>
    @if (schedule().description != null) {
      <span>, {{schedule().description}}</span>
    }
  </list-item-description>
  <list-item-actions>
    <a
      [routerLink]="['/medication', schedule().medication.id, 'schedule', schedule().id, 'edit']"
      mat-icon-button>
      <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
    </a>
  </list-item-actions>
</mediminder-list-item>
