<mediminder-hero>
  <hero-title>Home</hero-title>
  <hero-description>Here you can find your daily activities.</hero-description>
  <hero-actions>
    <a
      mat-flat-button
      color="accent"
      routerLink="/schedule/create">
      <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
      Add schedule
    </a>
  </hero-actions>
</mediminder-hero>
<mediminder-container>
  <mediminder-notification-overview-page></mediminder-notification-overview-page>
  <mediminder-intake-event-overview></mediminder-intake-event-overview>
</mediminder-container>
