<mediminder-hero>
  <hero-title>Edit schedule</hero-title>
  <hero-description>Edit the schedule for {{schedule()?.medication?.name || ''}}</hero-description>
</mediminder-hero>
<mediminder-container>
  @if (error != undefined) {
    <mediminder-alert type="error">
      {{error.detail}}
    </mediminder-alert>
  }
  @if (schedule() != null) {
    <mediminder-schedule-form
      [schedule]="schedule()"
      [medication]="schedule()!.medication"
      [hideDelete]="false"
      okLabel="Edit"
      (confirm)="submit($event)"
      (cancel)="cancel()"
      (delete)="delete()">
    </mediminder-schedule-form>
  }
</mediminder-container>
