<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mediminder-medication-type-icon
        [medicationType]="plan().medication.medicationType"
        [color]="plan().medication.color">
      </mediminder-medication-type-icon>
      {{plan().medication.name}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tbody>
        <tr>
          <th>Required {{plan().medication.doseType.name}}:</th>
          <td>{{plan().requiredDoses}}</td>
        </tr>
        <tr>
          <th>Available {{plan().medication.doseType.name}}:</th>
          <td>{{plan().availableDoses}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Missing {{plan().medication.doseType.name}}:</th>
          <td>{{missingDoses()}}</td>
        </tr>
      <tr>
        <th>Prescriptions required:</th>
        <td>{{prescriptionsRequired()}}</td>
      </tr>
      </tfoot>
    </table>
  </mat-card-content>
</mat-card>
