@use '@angular/material' as mat;
@use 'theme' as theme;
@use 'ngx-toastr';
@use 'material-symbols/outlined';
@use 'roboto-fontface/css/roboto/roboto-fontface';


@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes(theme.$mediminder-theme);
@include mat.typography-hierarchy(theme.$mediminder-typography);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, .03);
}

.mat-mdc-dialog-panel.panel-error .mat-mdc-dialog-surface {
  border-left: solid 0.6em mat.m2-get-color-from-palette(theme.$mediminder-danger, 500);
}

.mat-mdc-dialog-panel.panel-info .mat-mdc-dialog-surface {
  border-left: solid 0.6em mat.m2-get-color-from-palette(theme.$mediminder-primary, A700);
}
