@use '@angular/material' as mat;

$mediminder-primary: mat.m2-define-palette((
  50 : #e1e9ec,
  100 : #b4c7cf,
  200 : #82a2af,
  300 : #507c8e,
  400 : #2b6076,
  500 : #05445e,
  600 : #043e56,
  700 : #04354c,
  800 : #032d42,
  900 : #011f31,
  A100 : #69b9ff,
  A200 : #36a1ff,
  A400 : #0389ff,
  A700 : #007be9,
  contrast: (
    50 : rgba(black, 0.87),
    100 : rgba(black, 0.87),
    200 : rgba(black, 0.87),
    300 : rgba(white, 0.87),
    400 : rgba(white, 0.87),
    500 : rgba(white, 0.87),
    600 : rgba(white, 0.87),
    700 : rgba(white, 0.87),
    800 : rgba(white, 0.87),
    900 : rgba(white, 0.87),
    A100 : rgba(black, 0.87),
    A200 : rgba(black, 0.87),
    A400 : rgba(white, 0.87),
    A700 : rgba(white, 0.87),
  )
));

$mediminder-accent: mat.m2-define-palette((
  50 : #eefcfb,
  100 : #d6f8f4,
  200 : #baf3ed,
  300 : #9eeee5,
  400 : #8aeae0,
  500 : #75e6da,
  600 : #6de3d6,
  700 : #62dfd0,
  800 : #58dbcb,
  900 : #45d5c2,
  A100 : rgba(white, 0.87),
  A200 : #f6fffe,
  A400 : #c3fff7,
  A700 : #aafff3,
  contrast: (
    50 : rgba(black, 0.87),
    100 : rgba(black, 0.87),
    200 : rgba(black, 0.87),
    300 : rgba(black, 0.87),
    400 : rgba(black, 0.87),
    500 : rgba(black, 0.87),
    600 : rgba(black, 0.87),
    700 : rgba(black, 0.87),
    800 : rgba(black, 0.87),
    900 : rgba(black, 0.87),
    A100 : rgba(black, 0.87),
    A200 : rgba(black, 0.87),
    A400 : rgba(black, 0.87),
    A700 : rgba(black, 0.87),
  )
));

$mediminder-warn: mat.m2-define-palette((
  50 : #fff8e8,
  100 : #ffedc5,
  200 : #ffe29e,
  300 : #ffd677,
  400 : #ffcd5a,
  500 : #ffc43d,
  600 : #ffbe37,
  700 : #ffb62f,
  800 : #ffaf27,
  900 : #ffa21a,
  A100 : rgba(white, 0.87),
  A200 : #fffffe,
  A400 : #ffe8cb,
  A700 : #ffddb2,
  contrast: (
    50 : rgba(black, 0.87),
    100 : rgba(black, 0.87),
    200 : rgba(black, 0.87),
    300 : rgba(black, 0.87),
    400 : rgba(black, 0.87),
    500 : rgba(black, 0.87),
    600 : rgba(black, 0.87),
    700 : rgba(black, 0.87),
    800 : rgba(black, 0.87),
    900 : rgba(black, 0.87),
    A100 : rgba(black, 0.87),
    A200 : rgba(black, 0.87),
    A400 : rgba(black, 0.87),
    A700 : rgba(black, 0.87),
  )
));

$mediminder-success: mat.m2-define-palette((
  50 : #e1faf4,
  100 : #b4f3e3,
  200 : #83ebd0,
  300 : #51e2bd,
  400 : #2bdcae,
  500 : #06d6a0,
  600 : #05d198,
  700 : #04cc8e,
  800 : #03c684,
  900 : #02bc73,
  A100 : #e5fff3,
  A200 : #b2ffdd,
  A400 : #7fffc6,
  A700 : #65ffbb,
  contrast: (
    50 : rgba(black, 0.87),
    100 : rgba(black, 0.87),
    200 : rgba(black, 0.87),
    300 : rgba(black, 0.87),
    400 : rgba(black, 0.87),
    500 : rgba(black, 0.87),
    600 : rgba(black, 0.87),
    700 : rgba(black, 0.87),
    800 : rgba(black, 0.87),
    900 : rgba(white, 0.87),
    A100 : rgba(black, 0.87),
    A200 : rgba(black, 0.87),
    A400 : rgba(black, 0.87),
    A700 : rgba(black, 0.87),
  )
));

$mediminder-danger: mat.m2-define-palette((
  50 : #fde9ee,
  100 : #fac8d4,
  200 : #f7a3b7,
  300 : #f47e9a,
  400 : #f16385,
  500 : #ef476f,
  600 : #ed4067,
  700 : #eb375c,
  800 : #e82f52,
  900 : #e42040,
  A100 : rgba(white, 0.87),
  A200 : #ffe8eb,
  A400 : #ffb5c0,
  A700 : #ff9caa,
  contrast: (
    50 : rgba(black, 0.87),
    100 : rgba(black, 0.87),
    200 : rgba(black, 0.87),
    300 : rgba(black, 0.87),
    400 : rgba(black, 0.87),
    500 : rgba(white, 0.87),
    600 : rgba(white, 0.87),
    700 : rgba(white, 0.87),
    800 : rgba(white, 0.87),
    900 : rgba(white, 0.87),
    A100 : rgba(black, 0.87),
    A200 : rgba(black, 0.87),
    A400 : rgba(black, 0.87),
    A700 : rgba(black, 0.87),
  )
));

$mediminder-typography: mat.m2-define-typography-config(
  $font-family: 'Roboto',
);

$mediminder-theme: mat.m2-define-light-theme((
  color: (
    primary: $mediminder-primary,
    accent: $mediminder-accent,
    warn: $mediminder-danger,
  ),
  typography: $mediminder-typography
));
