<nav class="mat-elevation-z3">
  <a routerLink="/home" routerLinkActive="active">
    <mat-icon fontSet="material-symbols-outlined">home</mat-icon>
    Home
  </a>
  <a routerLink="/medication" routerLinkActive="active">
    <mat-icon fontSet="material-symbols-outlined">pill</mat-icon>
    Medications
  </a>
  <a routerLink="/assistant" routerLinkActive="active">
    <mat-icon fontSet="material-symbols-outlined">smart_toy</mat-icon>
    Assistant
  </a>
  <a routerLink="/planner" routerLinkActive="active">
    <mat-icon fontSet="material-symbols-outlined">event_upcoming</mat-icon>
    Planner
  </a>
  <a routerLink="/user/profile" routerLinkActive="active">
    <mat-icon fontSet="material-symbols-outlined">person</mat-icon>
    Account
  </a>
</nav>
