<mediminder-hero>
  <hero-title>Edit medication</hero-title>
  <hero-description>Edit the information of the medication</hero-description>
</mediminder-hero>
<mediminder-container>
  @if (error != undefined) {
    <mediminder-alert type="error">
      {{error.detail}}
    </mediminder-alert>
  }
  @if (medication() != null) {
    <mediminder-medication-form
      [medication]="medication()!"
      okLabel="Edit"
      (confirm)="submit($event)"
      (cancel)="cancel()">
    </mediminder-medication-form>
  }
</mediminder-container>
