<mediminder-hero>
  <hero-title>Create a schedule</hero-title>
  <hero-description>Create a recurring schedule for when you need to take your medication</hero-description>
</mediminder-hero>
<mediminder-container>
  @if (error != undefined) {
    <mediminder-alert type="error">
      {{error.detail}}
    </mediminder-alert>
  }
  @if (medication() != undefined) {
    <mediminder-schedule-form
      [medication]="medication()!"
      okLabel="Add"
      (cancel)="cancel()"
      (confirm)="submit($event)">
    </mediminder-schedule-form>
  }
</mediminder-container>
