@use '@angular/material' as mat;
@use '../../../../theme' as theme;

input[type=radio] {
  position: relative;
  appearance: none;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  border: solid 0.2em mat.m2-get-contrast-color-from-palette(theme.$mediminder-accent, 400);
  display: grid;
  place-content: center;
  margin: 0.5em;
  box-sizing: border-box;
  cursor: pointer;
  transition: 150ms border-color ease-in-out;
}

input[type=radio]:disabled {
  cursor: initial;
  border-color: rgba(0, 0, 0, .5);
}

input[type=radio]::after {
  content: '';
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
}

#color-RED::after {
  box-shadow: inset 1em 1em red;
}

#color-RED:disabled::after {
  box-shadow: inset 1em 1em rgba(255, 0, 0, .5);;
}

#color-ORANGE::after {
  box-shadow: inset 1em 1em orange;
}

#color-ORANGE:disabled::after {
  box-shadow: inset 1em 1em rgba(255, 165, 0, .5);;
}

#color-YELLOW::after {
  box-shadow: inset 1em 1em yellow;
}

#color-YELLOW:disabled::after {
  box-shadow: inset 1em 1em rgba(255, 255, 0, .5);;
}

#color-GREEN::after {
  box-shadow: inset 1em 1em green;
}

#color-GREEN:disabled::after {
  box-shadow: inset 1em 1em rgba(0, 255, 0, .5);;
}

#color-BLUE::after {
  box-shadow: inset 1em 1em blue;
}

#color-BLUE:disabled::after {
  box-shadow: inset 1em 1em rgba(0, 0, 255, .5);;
}

#color-INDIGO::after {
  box-shadow: inset 1em 1em indigo;
}

#color-INDIGO:disabled::after {
  box-shadow: inset 1em 1em rgba(75, 0, 130, .5);;
}

#color-VIOLET::after {
  box-shadow: inset 1em 1em violet;
}

#color-VIOLET:disabled::after {
  box-shadow: inset 1em 1em rgba(238, 130, 238, .5);;
}

#color-BLACK::after {
  box-shadow: inset 1em 1em black;
}

#color-BLACK:disabled::after {
  box-shadow: inset 1em 1em rgba(0, 0, 0, .5);;
}

#color-GRAY::after {
  box-shadow: inset 1em 1em gray;
}

#color-GRAY:disabled::after {
  box-shadow: inset 1em 1em rgba(128, 128, 128, .5);;
}

#color-WHITE::after {
  box-shadow: inset 1em 1em white;
}

#color-WHITE:disabled::after {
  box-shadow: inset 1em 1em rgba(255, 255, 255, .5);;
}

input[type=radio]:checked {
  border-color: mat.m2-get-color-from-palette(theme.$mediminder-accent, 900);
}

input[type=radio]::before {
  content: '';
  position: absolute;
  transition: 150ms transform ease-in-out;
  transform: scale(0);
  box-shadow: inset 3em 3em rgba(0, 0, 0, .1);
  top: -0.7em;
  bottom: -0.7em;
  left: -0.7em;
  right: -0.7em;
  border-radius: 50%;
}

input[type=radio]:checked::before {
  box-shadow: inset 3em 3em rgba(mat.m2-get-color-from-palette(theme.$mediminder-accent, 900), .2);
}

input[type=radio]:disabled:hover::before,
input[type=radio]:disabled:focus::before {
  transform: scale(0);
}

input[type=radio]:hover::before,
input[type=radio]:focus::before {
  transform: scale(1);
}

.ripple {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin-right: -2.5em;
}

.picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

label {
  display: none;
}
