<mediminder-central-card>
  <form #form="ngForm" (submit)="submit()">
    <h1>Create an account</h1>
    @if (error != undefined) {
      <mediminder-alert type="error">
        {{error.detail}}
      </mediminder-alert>
    }
    @if (success) {
      <mediminder-alert type="success">
        Your account was successfully created. Please check your e-mail to verify your account.
        <button mat-button (click)="resetVerification()">Re-send e-mail</button>
      </mediminder-alert>
    }
    @if (successVerification) {
      <mediminder-alert type="success">
        Verification e-mail was resent. Please check your e-mail to verify your account.
      </mediminder-alert>
    }
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        required
        type="email"
        placeholder="me@example.org"
        name="email"
        maxlength="128"
        [(ngModel)]="email"
        #emailInput="ngModel" />
      <mat-hint>Enter your e-mail address</mat-hint>
      @if (emailInput.errors?.['required'] || emailInput.errors?.['email']) {
        <mat-error>
          Please enter a valid e-mail address
        </mat-error>
      }
      @else if (emailInput.errors?.['maxlength']) {
        <mat-error>
          We don't allow e-mail addresses longer than 128 characters
        </mat-error>
      }
    </mat-form-field>
    <ng-container
      ngModelGroup="passwords"
      #passwordsGroup="ngModelGroup"
      samePassword>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          required
          type="password"
          placeholder="********"
          name="password"
          [(ngModel)]="password"
          #passwordInput="ngModel" />
        <mat-hint>Enter your chosen password</mat-hint>
        @if (passwordInput.errors?.['required']) {
          <mat-error>
            Please enter your password
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input
          matInput
          required
          type="password"
          placeholder="********"
          name="repeatPassword"
          [(ngModel)]="repeatPassword"
          #repeatPasswordInput="ngModel" />
        <mat-hint>Enter the same password again</mat-hint>
        @if (repeatPasswordInput.errors?.['required']) {
          <mat-error>
            Please enter your password again
          </mat-error>
        }
      </mat-form-field>
      @if (passwordsGroup.errors?.['samePassword']) {
        <mat-error>
          The passwords do not match
        </mat-error>
      }
    </ng-container>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        placeholder="Albert Einstein"
        name="name"
        maxlength="128"
        [(ngModel)]="name"
        #nameInput="ngModel" />
      <mat-hint>Enter your name or nickname</mat-hint>
      @if (nameInput.errors?.['required']) {
        <mat-error>
          Please enter your name
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Timezone</mat-label>
      <input
        type="text"
        placeholder="UTC"
        matInput
        name="timezone"
        maxlength="64"
        [(ngModel)]="timezone"
        #timezoneElement
        (input)="timezoneInputValue.set(timezoneElement.value)"
        [matAutocomplete]="timezoneAutocomplete">
      <mat-autocomplete
        autoActiveFirstOption
        #timezoneAutocomplete="matAutocomplete">
        @for (timezone of timezones(); track timezone) {
          <mat-option [value]="timezone">{{timezone}}</mat-option>
        }
      </mat-autocomplete>
      <mat-hint>Enter the timezone you live in</mat-hint>
    </mat-form-field>
    <button
      mat-flat-button
      [disabled]="form.invalid"
      color="primary">
      Create account
    </button>
    <a
      mat-button
      routerLink="/user/login">
      I already have an account
    </a>
  </form>
</mediminder-central-card>
