<span [ngSwitch]="medicationType().id" [class]="color()" class="cubicle">
  <mat-icon svgIcon="contraceptives-implant" *ngSwitchCase="'IMPLANT'" />
  <mat-icon svgIcon="medications-pills-2" *ngSwitchCase="'TABLET'" />
  <mat-icon svgIcon="contraceptives-contraceptive-patch" *ngSwitchCase="'PATCH'" />
  <mat-icon svgIcon="devices-syringe" *ngSwitchCase="'INJECTION'" />
  <mat-icon svgIcon="devices-asthma-inhaler" *ngSwitchCase="'INHALER'" />
  <mat-icon svgIcon="devices-medicine-bottle" *ngSwitchDefault />
</span>
