<span [class]="color()" class="cubicle">
  @switch (medicationType().id) {
    @case ('IMPLANT') {
      <mat-icon svgIcon="contraceptives-implant" />
    }
    @case ('PATCH') {
      <mat-icon svgIcon="contraceptives-contraceptive-patch" />
    }
    @case ('INJECTION') {
      <mat-icon svgIcon="devices-syringe" />
    }
    @case ('INHALER') {
      <mat-icon svgIcon="devices-asthma-inhaler" />
    }
    @case ('DROP') {
      <mat-icon svgIcon="body-blood-drop" />
    }
    @case ('POWDER') {
      <mat-icon svgIcon="nutrition-sugar" />
    }
    @default {
      <mat-icon svgIcon="devices-medicine-bottle" />
    }
  }
</span>
