<form [formGroup]="form" (submit)="submit()">
  <div class="grid">
    <mat-form-field appearance="fill" id="medication">
      <mat-label>Medication</mat-label>
      <input
        matInput
        required
        type="text"
        formControlName="medication"
        [matAutocomplete]="medicationAutocomplete" />
      @if (!disableBasicFields) {
        <a
          mat-button
          matSuffix
          routerLink="/medication/create">
          Create
        </a>
      }
      <mat-autocomplete
        #medicationAutocomplete="matAutocomplete"
        requireSelection
        [displayWith]="getMedicationLabel">
        @for (medication of medications.content; track medication.id) {
          <mat-option [value]="medication">{{medication.name}}</mat-option>
        }
      </mat-autocomplete>
      <mat-hint>Enter the name of the medication</mat-hint>
      @if (form.get('medication')!.errors?.['required']) {
        <mat-error>
          Please enter a valid medication name
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" id="period" formGroupName="period">
      <mat-label>Period</mat-label>
      <mat-date-range-input [rangePicker]="periodPicker">
        <input matStartDate formControlName="startingAt" />
        <input matEndDate formControlName="endingAtInclusive" />
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="periodPicker"></mat-datepicker-toggle>
      <mat-date-range-picker #periodPicker></mat-date-range-picker>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      @if (form.get('period')?.get('startingAt')!.errors?.['required']) {
        <mat-error>
          Please enter a starting date
        </mat-error>
      }
    </mat-form-field>
    <ng-container formGroupName="interval">
      <mat-form-field appearance="fill" id="intervalUnits">
        <mat-label>Every</mat-label>
        <input
          type="number"
          matInput
          formControlName="units" />
      </mat-form-field>
      <mat-form-field appearance="fill" id="intervalType">
        <mat-label>Every</mat-label>
        <mat-select formControlName="type">
          @for (type of intervalTypes; track type) {
            <mat-option [value]="type">{{type}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </ng-container>
    <mat-form-field appearance="fill" id="time">
      <mat-label>Time</mat-label>
      <input
        matInput
        formControlName="time"
        type="time" />
    </mat-form-field>
    <mat-form-field appearance="fill" id="dose">
      <mat-label>Dose</mat-label>
      <input
        type="number"
        matInput
        formControlName="dose" />
      <span matTextSuffix>{{form.get('medication')!.value?.doseType?.name || 'doses'}}</span>
    </mat-form-field>
    <mat-form-field appearance="fill" id="description">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>
  </div>

  <div class="actions">
    <button mat-flat-button color="accent">
      {{okLabel}}
    </button>
    <button mat-button type="button" (click)="onCancel.emit()">
      Cancel
    </button>
  </div>
</form>
