mat-form-field {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 1em;
  }

  #medication {
    grid-column: 1 / 4;
  }

  #description {
    grid-column: 1 / 4;
  }
}
