<mediminder-hero>
  <hero-title>Edit cabinet entry</hero-title>
  <hero-description>Edit the information of the medication that is available in your cabinet</hero-description>
</mediminder-hero>
<mediminder-container>
  @if (error != undefined) {
    <mediminder-alert type="error">
      {{error.detail}}
    </mediminder-alert>
  }
  @if (entry() != undefined) {
    <mediminder-cabinet-entry-form
      [cabinetEntry]="entry()"
      [medication]="entry()!.medication"
      [hideSecondaryActions]="false"
      okLabel="Edit"
      (confirm)="submit($event)"
      (cancel)="cancel()"
      (delete)="delete()">
    </mediminder-cabinet-entry-form>
  }
</mediminder-container>
