<form (submit)="confirm.emit(request())" #form="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      name="name"
      required
      maxlength="128"
      [(ngModel)]="name"
      placeholder="Albert Einstein" />
    <mat-hint>Enter your name or nickname</mat-hint>
    @if (isNameEmpty()) {
      <mat-error>
        Please enter your name
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Timezone</mat-label>
    <input
      type="text"
      placeholder="UTC"
      matInput
      name="timezone"
      maxlength="64"
      [(ngModel)]="timezone"
      [matAutocomplete]="timezoneAutocomplete">
    <mat-autocomplete
      autoActiveFirstOption
      #timezoneAutocomplete="matAutocomplete">
      @for (timezone of timezones(); track timezone) {
        <mat-option [value]="timezone">{{timezone}}</mat-option>
      }
    </mat-autocomplete>
    <mat-hint>Enter the timezone you live in</mat-hint>
    @if (isTimezoneNotFromList()) {
      <mat-error>
        Please select a valid timezone from the list
      </mat-error>
    }
  </mat-form-field>
  <div class="actions">
    <button
      [disabled]="form.invalid || isTimezoneNotFromList()"
      mat-flat-button
      color="primary">
      {{okLabel()}}
    </button>
  </div>
</form>
