<span
  class="icon-circle"
  [class]="type()">
  @switch (type()) {
    @case ('error') {
      <mat-icon
        fontSet="material-symbols-outlined">
        priority_high
      </mat-icon>
    }
    @case ('warning') {
      <mat-icon
        fontSet="material-symbols-outlined">
        priority_high
      </mat-icon>
    }
    @case ('success') {
      <mat-icon
        fontSet="material-symbols-outlined">
        check
      </mat-icon>
    }
    @case ('info') {
      <mat-icon
        fontSet="material-symbols-outlined">
        info
      </mat-icon>
    }
  }
</span>
