<mediminder-list-item (click)="navigateToDocumentEdit()">
  <list-item-icon>
    <mat-icon
      fontSet="material-symbols-outlined">
      description
    </mat-icon>
  </list-item-icon>
  <list-item-title>
    {{document().filename}}
  </list-item-title>
  <list-item-description>
    @if (document().expiryDate != undefined) {
      <mediminder-tag
        [color]="expiresSoon() ? 'warning' : 'default'">
        Expires {{document().expiryDate! | dfnsParseIso | dfnsFormat: 'MMMM do, yyyy'}}
      </mediminder-tag>
    }
    @else {
      {{document().description}}
    }
  </list-item-description>
  <list-item-actions>
    <a
      mat-icon-button
      [routerLink]="['/medication', document().relatedMedication.id, 'document', document().id, 'edit']">
      <mat-icon
        fontSet="material-symbols-outlined">
        edit
      </mat-icon>
    </a>
  </list-item-actions>
</mediminder-list-item>
