@use '@angular/material' as mat;
@use '../../../../theme' as theme;

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

section .icon-wrapper {
  transform: scale(3);
  color: mat.m2-get-color-from-palette(theme.$mediminder-accent, 500);
  height: 40px;
  margin-bottom: 1em;
}

section h3 {
  @include mat.m2-typography-level(theme.$mediminder-typography, 'headline-5');
}

.spin {
  animation: spin 1s infinite steps(16);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
