<mediminder-hero>
  <hero-title>Edit document</hero-title>
  <hero-description>Edit the information of the medical document</hero-description>
</mediminder-hero>
<mediminder-container>
  <mediminder-alert type="info">
    <p>
      Only the metadata of the document can be edited.
      If you wish to change the document itself, you need to delete the current document and upload a new one.
    </p>
  </mediminder-alert>
  @if (error != undefined) {
    <mediminder-alert type="error">
      {{error.detail}}
    </mediminder-alert>
  }
  @if (document() != undefined) {
    <mediminder-document-form
      [document]="document()"
      [medication]="document()!.relatedMedication"
      [disableBasicFields]="true"
      [hideSecondaryActions]="false"
      okLabel="Edit"
      (confirm)="submit($event)"
      (delete)="delete()"
      (cancel)="cancel()">
    </mediminder-document-form>
  }
</mediminder-container>
