@for (medication of medications(); track medication.id) {
  <mat-card (click)="navigateToDetailPage(medication)">
    <mat-card-content>
      <mediminder-medication-type-icon
        [medicationType]="medication.medicationType"
        [color]="medication.color">
      </mediminder-medication-type-icon>
      <div class="name">{{medication.name}}</div>
      <div class="description">{{medication.administrationType.name}}</div>
      <div class="actions">
        <a
          mat-icon-button
          [routerLink]="['/medication', medication.id]">
          <mat-icon fontSet="material-symbols-outlined">chevron_right</mat-icon>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
}
