<mediminder-hero>
  <hero-title>
    @if (medication() != undefined) {
      <mediminder-medication-type-icon
        [medicationType]="medication()!.medicationType"
        [color]="medication()!.color">
      </mediminder-medication-type-icon>
      {{ medication()?.name }}
    }
  </hero-title>
</mediminder-hero>
<mediminder-container>
  @if (error != undefined) {
    <mediminder-alert type="error">
      {{error.detail}}
    </mediminder-alert>
  }
  @if (medication() != undefined) {
    <mediminder-action-header title="Details">
      <a
        mat-flat-button
        [routerLink]="['/medication', medication()!.id, 'edit']"
        color="accent">
        <mat-icon>edit</mat-icon>
        Edit
      </a>
    </mediminder-action-header>
    <mediminder-medication-details-card
      [medication]="medication()!">
    </mediminder-medication-details-card>
    <mediminder-dose-picker
      [doses]="doseSubtractions()"
      [doseType]="medication()!.doseType"
      (select)="subtractDoses($event)">
    </mediminder-dose-picker>
  }
  <mediminder-action-header title="Schedules">
    <a
      mat-flat-button
      [routerLink]="['/medication', medication()?.id, 'schedule', 'create']"
      color="accent">
      <mat-icon>add</mat-icon>
      Add schedule
    </a>
  </mediminder-action-header>
  @if (schedules().content.length > 0) {
    <mediminder-schedule-list
      [schedules]="schedules().content">
    </mediminder-schedule-list>
  }
  <mediminder-action-header title="Cabinet">
    <a
      mat-flat-button
      [routerLink]="['/medication', medication()?.id, 'cabinet', 'create']"
      color="accent">
      <mat-icon>add</mat-icon>
      Add entry
    </a>
  </mediminder-action-header>
  @if (cabinetEntries().content.length > 0) {
    <mediminder-cabinet-entry-list
      [entries]="cabinetEntries().content">
    </mediminder-cabinet-entry-list>
  }
  @if (showDocuments()) {
    <mediminder-action-header title="Documents">
      <a
        mat-flat-button
        [routerLink]="['/medication', medication()?.id, 'document', 'create']"
        color="accent">
        <mat-icon>add</mat-icon>
        Add document
      </a>
    </mediminder-action-header>
    @if (documents().content.length > 0) {
      <mediminder-document-list
        [documents]="documents().content">
      </mediminder-document-list>
    }
  }
  <mediminder-action-header title="Danger zone">
  </mediminder-action-header>
  <button
    class="full-width"
    mat-button
    color="warn"
    (click)="delete()">
    <mat-icon>delete</mat-icon>
    Delete medication
  </button>
</mediminder-container>
