@use '@angular/material' as mat;
@use '../../../../theme' as theme;

.breadcrumb {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

.breadcrumb > li {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  display: inline-block;
}

.breadcrumb > li > a {
  color: mat.get-contrast-color-from-palette(theme.$mediminder-primary, 100);
}

.breadcrumb > li+li {
  margin-left: 2em;
}

.breadcrumb > li+li::before {
  content: 'chevron_right';
  font-family: 'Material Icons Outlined', sans-serif;
  display: inline-block;
  top: 2.75px;
  left: -1.5em;
  position: absolute;
}
