<form #form="ngForm" (submit)="confirm.emit(request()!)">
  <div class="grid">
    <mat-form-field appearance="fill" id="remainingDoses">
      <mat-label>Remaining doses</mat-label>
      <input
        type="number"
        matInput
        required
        min="0"
        [max]="medication().dosesPerPackage"
        #remainingDosesInput="ngModel"
        [(ngModel)]="remainingDoses"
        name="remainingDoses" />
      <span matTextSuffix>{{medication().doseType.name}}</span>
      @if (remainingDosesInput.errors?.['required']) {
        <mat-error>
          Please enter an amount of remaining doses
        </mat-error>
      }
      @else if (remainingDosesInput.errors?.['min']) {
        <mat-error>
          Please enter at least zero or more remaining doses
        </mat-error>
      }
      @else if (remainingDosesInput.errors?.['max']) {
        <mat-error>
          Please enter no more doses than initially available for '{{medication().name}}' ({{medication().dosesPerPackage}})
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" id="expiryDate">
      <mat-label>Expiry date</mat-label>
      <input
        matInput
        required
        name="expiryDate"
        [(ngModel)]="expiryDate"
        #expiryDateInput="ngModel"
        [matDatepicker]="expiryDatePicker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="expiryDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #expiryDatePicker></mat-datepicker>
      @if (expiryDateInput.errors?.['required']) {
        <mat-error>
          Please enter an amount of remaining doses
        </mat-error>
      }
    </mat-form-field>
  </div>
  <mediminder-action-bar>
    <primary-actions>
      <button
        mat-flat-button
        color="accent"
        [disabled]="form.invalid">
        {{okLabel()}}
      </button>
      <button mat-button type="button" (click)="cancel.emit()">
        Cancel
      </button>
    </primary-actions>
    @if (!hideSecondaryActions()) {
      <secondary-actions>
        <a
          mat-button
          type="button"
          [routerLink]="['/medication', medication().id, 'cabinet', cabinetEntry()!.id, 'duplicate']">
          Duplicate entry
        </a>
        <button
          mat-button
          type="button"
          color="warn"
          (click)="delete.emit()">
          Delete entry
        </button>
      </secondary-actions>
    }
  </mediminder-action-bar>
</form>
