mat-form-field {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1em;
  }

  #medication {
    grid-column: 1 / 3;
  }

  #remainingDoses {
    grid-column: 1;
  }


  #expiryDate {
    grid-column: 2;
  }
}
