<mediminder-list-item (click)="navigateToCabinetEntryEdit()">
  <list-item-icon>
    <mat-icon
      class="icon"
      fontSet="material-symbols-outlined">
      tag
    </mat-icon>
  </list-item-icon>
  <list-item-title>
    {{entry().remainingDoses | number}}/{{entry().medication.dosesPerPackage}} {{entry().medication.doseType.name}} remaining
  </list-item-title>
  <list-item-description>
    <mediminder-tag [color]="expiresSoonColor()">
      Expires {{entry().expiryDate | dfnsParseIso | dfnsFormat: 'MMMM yyyy'}}
    </mediminder-tag>
  </list-item-description>
  <list-item-actions>
    <a
      [routerLink]="['/medication', entry().medication.id, 'cabinet', entry().id, 'edit']"
      mat-icon-button>
      <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
    </a>
  </list-item-actions>
</mediminder-list-item>
