<mediminder-central-card>
  <form #form="ngForm" (submit)="submit()">
    <h1>Reset your password</h1>
    @if (error != undefined) {
      <mediminder-alert type="error">
        {{error.detail}}
      </mediminder-alert>
    }
    @if (successRequestPasswordReset) {
      <mediminder-alert type="success">
        Password reset e-mail was sent. Please check your e-mail to change your password.
      </mediminder-alert>
    }
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        required
        type="email"
        placeholder="me@example.org"
        name="email"
        maxlength="128"
        [(ngModel)]="email"
        #emailInput="ngModel" />
      <mat-hint>Enter the same e-mail you used during registration</mat-hint>
      @if (emailInput.errors?.['required'] || emailInput.errors?.['email']) {
        <mat-error>
          Please enter a valid e-mail address
        </mat-error>
      }
      @if (emailInput.errors?.['maxlength']) {
        <mat-error>
          We don't allow e-mail addresses longer than 128 characters
        </mat-error>
      }
    </mat-form-field>
    <button
      mat-flat-button
      [disabled]="form.invalid"
      color="primary">
      Reset password
    </button>
    <a
      mat-button
      routerLink="/user/login">
      Log in
    </a>
  </form>
</mediminder-central-card>
